<main (emitId)="changeId(id)" >
  <h1>Creación/edición de productos</h1>
  <div class="addProduct" >
    <div class="div-form">
      <div class="gallery-box" *ngIf="product.id> 0">
        <img src={{product.image}} alt="">
        <p>{{product.description}}</p>
        <h2>${{product.price}}</h2>
        <div class="info-botton">
            <div *ngIf="product.stars != -1">
              <ngb-rating *ngIf="product.stars != undefined" [max]="5" [(rate)]="product.stars" [readonly]="true"></ngb-rating>
            </div>
            <p>{{product.stars}}</p>
            <button (click)="delete(product.id)">Eliminar</button>

        </div>
      </div>
    </div>

    <div>
      <form *ngIf="product.id===0" [formGroup]="newProductForm" (ngSubmit)="onSubmit()" class="form-container">
        <label for="name">Nombre del producto:<input type="text" formControlName="name" placeholder="Por ej: Tiesto para planta"></label>
        <label for="description">Descripción:<input type="text" formControlName="description" placeholder="Por ej: Lo más vendido de este mes"></label>
        <label for="price">Precio:<input type="text" formControlName="price" placeholder="Por ej: 9.50"></label>
        <label for="stars">Opiniones:<input type="number" formControlName="stars" placeholder="Por ej: 4.28"></label>
        <label for="image">Ruta de la imagen:<input type="text" formControlName="image" placeholder="Por ej: http://blabla.com/img.jpg"></label>
        <button >Guardar</button>
      </form>
    </div>
    <div *ngIf="product.id> 0" (emitProduct)="changeProduct(product)" >
      <form [formGroup]="editProductForm" (ngSubmit)="editProduct1(product)" class="form-container">
        <label for="name">Nombre del producto:<input type="text" formControlName="name" placeholder="Por ej: Tiesto para planta"></label>
        <label for="description">Descripción:<input type="text" formControlName="description" placeholder="Por ej: Lo más vendido de este mes"></label>
        <label for="price">Precio:<input type="text" formControlName="price" placeholder="Por ej: 9.50"></label>
        <label for="stars">Opiniones:<input type="number" formControlName="stars" placeholder="Por ej: 4.28"></label>
        <label for="image">Ruta de la imagen:<input type="text" formControlName="image" placeholder="Por ej: http://blabla.com/img.jpg"></label>
        <button >Editar</button>
      </form>
    </div>
  </div>

</main>

