<header>
  <div>
    <img src="../../../assets/Captura de pantalla 2022-10-31 a las 8.31.40.png" alt="">
  </div>
  <div class="div-nav">
    <nav class="nav-div">
      <a routerLink="" class="enlace-nav"><img src="../../../assets/radiactivo.png" alt="" >Home</a>
      <a routerLink="/products" class="enlace-nav"><img src="../../../assets/prismaticos.png" alt="" >Prods.</a>
      <a routerLink="/addProduct" class="enlace-nav"><img src="../../../assets/volante.png" alt="" >Gestión</a>
    </nav>
  </div>
</header>
